
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: 700;
}

.hljs-literal,
.hljs-number,
.hljs-tag .hljs-attr,
.hljs-template-variable,
.hljs-variable {
  color: teal;
}

.hljs-doctag,
.hljs-string {
  color: #d14;
}

.hljs-section,
.hljs-selector-id,
.hljs-title {
  color: #900;
  font-weight: 700;
}

.hljs-subst {
  font-weight: 400;
}

.hljs-class .hljs-title,
.hljs-type {
  color: #458;
  font-weight: 700;
}

.hljs-attribute,
.hljs-name,
.hljs-tag {
  color: navy;
  font-weight: 400;
}

.hljs-link,
.hljs-regexp {
  color: #009926;
}

.hljs-bullet,
.hljs-symbol {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: 700;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}

/* New styles for dark mode */
.dark .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #ddd; /* light text for dark backgrounds */
}

.dark .hljs-comment,
.dark .hljs-quote {
  color: #666;
}

.dark .hljs-keyword,
.dark .hljs-selector-tag,
.dark .hljs-subst {
  color: #aaa;
  font-weight: 700;
}

.dark .hljs-literal,
.dark .hljs-number,
.dark .hljs-tag .hljs-attr,
.dark .hljs-template-variable,
.dark .hljs-variable {
  color: #5aa;
}

.dark .hljs-doctag,
.dark .hljs-string {
  color: #f88;
}

.dark .hljs-section,
.dark .hljs-selector-id,
.dark .hljs-title {
  color: #f66;
  font-weight: 700;
}

.dark .hljs-subst {
  font-weight: 400;
}

.dark .hljs-class .hljs-title,
.dark .hljs-type {
  color: #66a;
  font-weight: 700;
}

.dark .hljs-attribute,
.dark .hljs-name,
.dark .hljs-tag {
  color: #88a;
  font-weight: 400;
}

.dark .hljs-link,
.dark .hljs-regexp {
  color: #6f9;
}

.dark .hljs-bullet,
.dark .hljs-symbol {
  color: #f09;
}

.dark .hljs-built_in,
.dark .hljs-builtin-name {
  color: #5db;
}

.dark .hljs-meta {
  color: #aaa;
  font-weight: 700;
}

.dark .hljs-deletion {
  background: #922;
}

.dark .hljs-addition {
  background: #292;
}

.dark .hljs-emphasis {
  font-style: italic;
}

.dark .hljs-strong {
  font-weight: 700;
}